body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    width: 1920px;
    background-color: #060E14;
    color: bisque;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 1080px;
    position: relative;
    background-image: url("../../Main Page/Main page/png/1/BG_image2x.png");
}
.top-container {
    display: flex;
    flex-direction: row;
    width: 1536px;
    height: 49px;
    padding-top: 20px;
    border: 1px solid red;


}

.top-container > .logo {
    width: 163px;
    height: 49px;
    position: relative;
    border: 1px solid red;
    color: bisque;

}


.neverlose {
    color: var(--dark-text-action-2, #02528b);
    text-align: left;
    font: 400 28px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 0px;
    top: 2px;
    width: 160.86px;
}
.neverlose2 {
    color: var(--primary, #03a9f4);
    text-align: left;
    font: 400 28px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 1.07px;
    top: 1px;
    width: 160.86px;
}
.neverlose3 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 28px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 2.14px;
    top: 0px;
    width: 160.86px;
}

.league {
    position: absolute;
    inset: 0;
}

.league {
    color: var(--dark-text-action-2, #02528b);
    text-align: left;
    font: 400 16px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 98.28px;
    top: 30px;
    width: 61.95px;
}
.league2 {
    color: var(--danger, #a02323);
    text-align: left;
    font: 400 16px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 99.28px;
    top: 29px;
    width: 61.95px;
}
.league3 {
    color: var(--accent-yellow-gold, #c29b1e);
    text-align: left;
    font: 400 16px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 100.28px;
    top: 28px;
    width: 61.95px;
}


.top-container > .menu-container {
    padding: 0 60px 0 60px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 815px;
    height: 17px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    border: 1px solid red;
    color: #FDFEFF;


}

.top-container > .menu-container > .menu {
    display: flex;
    flex-direction: row;
    border: 1px solid red;

}


.top-container > .menu-container > .menu > div {
    margin-left: 25px;
    border: 1px solid red;

}

.top-container > .menu-container > .menu > div:nth-child(1) {
    margin-left: 0;
    border: 1px solid red;

}
.top-container > .nav-container {
    width: 36.85%;
    border: 1px solid red;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;

}






.content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
    background-color: rgba(110, 47, 47, 0.16);
    height: 608px;
    width: 767px;
    top: 236px;
    border: 1px solid red;

}

.content-block-top {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 24px;
    border: 1px solid red;

}

.neverlose-league {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 413px;
    width: 555px;
    position: relative;
    border: 1px solid red;
}

.content-block-bottom {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    border: 1px solid red;
}


.container-tournaments {
    padding: 120px 0px 120px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1536px;
    border: 1px solid red;
    height: 554px;
    position: relative;
}




.container-tournaments2 {
    padding: 120px 0px 120px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1536px;
    border: 1px solid red;
    height: 554px;
    position: relative;
}


.NeverloseIntegration {
    padding: 80px 192px 120px 192px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1536px;
    height: 783px;
    position: relative;
    border: 1px solid red;

}



.footer {

    padding: 60px 192px 20px 192px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1536px;
    height: 327px;
    position: relative;
    border: 1px solid red;

}

