body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    background-color: #060E14;
    color: bisque;
}





/*1/4 container*/






.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 1080px;
    position: relative;
    z-index: 2;
}

.container:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-image: url("./png/1/BG_image2x.png");
    visibility: visible;
    opacity: 0.04;

}



.top-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    width: 1536px;
    position: relative;


}

.top-container > .logo {
    flex-shrink: 0;
    width: 163px;
    height: 49px;
    position: relative;
    color: bisque;
}


.neverlose {
    color: var(--dark-text-action-2, #02528b);
    text-align: left;
    font: 400 28px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 0;
    top: 2px;
    width: 160.86px;
    font-weight: bold;

}
.neverlose2 {
    color: var(--primary, #03a9f4);
    text-align: left;
    font: 400 28px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 1.07px;
    top: 1px;
    width: 160.86px;
    font-weight: bold;

}
.neverlose3 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 28px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 2.14px;
    top: 0;
    width: 160.86px;
    font-weight: bold;

}

.league {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    inset: 0;
    font-weight: bold;


}

.league2 {
    color: var(--dark-text-action-2, #02528b);
    text-align: left;
    font: 400 16px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 105.28px;
    top: 30px;
    width: 61.95px;
    font-weight: bold;

}
.league3 {
    color: var(--danger, #a02323);
    text-align: left;
    font: 400 16px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 106.28px;
    top: 29px;
    width: 61.95px;
    font-weight: bold;

}
.league4 {
    color: var(--accent-yellow-gold, #c29b1e);
    text-align: left;
    font: 400 16px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 107.28px;
    top: 28px;
    width: 61.95px;
    font-weight: bold;

}


.top-container > .menu-container {
    padding: 0 60px 0 60px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    color: #FDFEFF;


}

.top-container > .menu-container > .menu {
    display: flex;
    flex-direction: row;

}


.top-container > .menu-container > .menu > div {
    margin-left: 25px;

}

.top-container > .menu-container > .menu > div:nth-child(1) {
    margin-left: 0;

}

.home {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    text-decoration: underline;
    position: relative;
}
.play {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;
}
.market {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;
}
.rating {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;
}
.tournaments {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;
}
.tickets {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;
}
.faq {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;
}



.top-container > .nav-container {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}


.gameselector {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--dark-text, #173a4f);
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.button1 {
    background: var(--primary, #03a9f4);
    border-radius: 8px 0 0 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 61px;
    position: relative;
    overflow: hidden;

}

.cs_go {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;

}


.button2 {
    border-radius: 0 8px 8px 0;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 61px;
    position: relative;

}


.cs2 {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;

}


.lang-switcher {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 70.63px;
    position: relative;

}
.eng {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;

}
. {
    color: var(--dark-text-action, #205e7b);
    text-align: left;
    font: 400 12px "Museo Sans Cyrl", sans-serif;
    position: relative;

}
.ua {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 14px "Museo Sans Cyrl", sans-serif;
    position: relative;

}

.button-login {
    background: var(--primary, #03a9f4);
    border-radius: 8px 8px 8px 8px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 85px;
    height: 25px;
    position: relative;
}
.login {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 12px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;


}





/*CENTER*/






.content-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 167px;

}



/*topbox */


.content-block-top {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 24px;

}

.line1 {
    border: 3px solid #334753;
    width: 30px;
    border-radius: 5px;

}
.tour {
    color: var(--primary, #03a9f4);
    text-align: left;
    font: 400 20px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.line2 {
    border: 3px solid #334753;
    width: 30px;
    border-radius: 5px 5px 5px 5px;
}

.neverlose_integration {
    color: var(--description, #334753);
    text-align: left;
    font: 400 20px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.line3 {
    border: 3px solid #334753;
    width: 30px;
    border-radius: 5px 5px 5px 5px;
}

.marketblock {
    color: var(--description, #334753);
    text-align: left;
    font: 400 20px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.line4 {
    border: 3px solid #334753;
    width: 30px;
    border-radius: 5px 5px 5px 5px;
}


/*CENTERBOX*/





/*2manecenterbox*/




.neverlose-league {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(180deg, rgba(3, 169, 244, 1) 0%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
    width: 767px;
    height: 500px;
    position: relative;


}


/*childebox*/



.childebox {
    width: 555px;
    height:413px;
    top: 44px;
    left: 106px;
    gap: 40px;
    position: relative;
}

.neverlosemane {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;


}

.neverlose0 {
    flex-shrink: 0;
    width: 555px;
    height: 119px;
    position: relative;

}

.neverlose22 {
    color: var(--dark-text-action-2, #02528b);
    text-align: left;
    font: 400 90px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: -1px;
    top: 4px;
    width: 550.86px;
}
.neverlose33 {
    color: var(--primary, #03a9f4);
    text-align: left;
    font: 400 90px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 1.07px;
    top: 2px;
    width: 550.86px;
}
.neverlose44 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 90px "Museo Sans Cyrl", sans-serif;
    position: absolute;
    left: 3.14px;
    top: 0;
    width: 550.86px;
}


.league111 {
    flex-shrink: 0;
    width: 251px;
    height: 81px;
    position: relative;

}
.league22 {
    color: var(--dark-text-action-2, #02528b);
    text-align: left;
    font: 400 64px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 152px;
    top: 6px;
}
.league33 {
    color: var(--danger, #a02323);
    text-align: left;
    font: 400 64px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 154px;
    top: 4px;
}
.league44 {
    color: var(--accent-yellow-gold, #c29b1e);
    text-align: left;
    font: 400 64px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 156px;
    top: 2px;
}


.frame {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 145px;
    position: relative;

}
.posy {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;

}
.get-matched-with-like-minded-gamers {
    color: var(--shaded-text, #c1c2c3);
    text-align: center;
    font: 400 16px/25px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
    width: 345px;
}
.show-us-what-you-can-do {
    color: var(--ligth-text, #fdfeff);
    text-align: center;
    font: 400 16px/25px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
    width: 345px;
}
.button {
    background: var(--primary, #03a9f4);
    border-radius: 4px;
    padding: 12px 52px 12px 52px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.create-an-account {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}





.content-block-bottom {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}


.line11 {
    border: 3px solid #334753;
    width: 50px;
    border-radius: 5px 5px 5px 5px;
}

.neverlose_integration {
    color: var(--description, #334753);
    text-align: left;
    font: 400 20px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.line22 {
    border: 3px solid #334753;
    width: 50px;
    border-radius: 5px 5px 5px 5px;
}

.rating-system {
    color: var(--description, #334753);
    text-align: left;
    font: 400 20px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.line33 {
    border: 3px solid #334753;
    width: 50px;
    border-radius: 5px 5px 5px 5px;
}










/*2/4container*/








._2-advantages-tournaments,
._2-advantages-tournaments * {
    box-sizing: border-box;
}
._2-advantages-tournaments {
    padding: 120px 0 120px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1536px;
    position: relative;
}
._2-advantages-tournaments2 {
    flex-shrink: 0;
    width: 1536px;
    height: 554px;
    position: static;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 472px;
    position: absolute;
    left: 15px;
    top: 220px;
}
.row {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.text {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    position: relative;
    align-self: stretch;
}

.title-0 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}


.text-span2 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}

.text-span3 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}

.text-span4 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


.title1 {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}

.title-span2 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}

.title2 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}
.text-span5 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-span6 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.text-span7 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.text-span8 {
    color: var(--shaded-text, #c1c2c3);
    font: 400 20px/24px "Museo Sans Cyrl", sans-serif;
}
.text-span9 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-span10 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.text2 {
    text-align: left;
    position: relative;
    align-self: stretch;
}
.text-2-span {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-2-span2 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.text-2-span3 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-2-span4 {
    color: var(--ligth-text, #fdfeff);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-2-span5 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}





.img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 655px;
    top: 238px;

}
.glow {
    background: radial-gradient(
            closest-side,
            rgba(3, 169, 244, 0.43) 0%,
            rgba(3, 169, 244, 0) 100%
    );
    opacity: 0.15000000596046448;
    flex-shrink: 0;
    width: 144.03px;
    height: 144.03px;
    position: absolute;
    left: 357px;
    top: 99.55px;
    transform-origin: 0 0;
    transform: rotate(-10.622deg) scale(1, 1);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.first_img {
    top: 0;
    left: 0;
    position: absolute;
  }


.team-b {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    left: 524px;
    top: 0;
}
.team-description2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}
.symbol2 {
    color: var(--danger, #a02323);
    text-align: left;
    font: 400 24px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.h-2-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 487px;
    position: absolute;
    left: calc(50% - 768px);
    top: calc(50% - 277px);
}
.ellipse-1100 {
    background: var(--primary, #03a9f4);
    border-radius: 50%;
    flex-shrink: 0;
    width: 5.23px;
    height: 5px;
    position: relative;
    box-shadow: 2px 0 10px 0 rgba(3, 169, 244, 1);
}
.title-block {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 24px/32px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}
.line-1 {
    border: 3px solid #334753;
    width: 1px;
    border-radius: 5px 5px 5px 5px;
    flex: 1;
    position: relative;
    overflow: visible;
}









/*3/4 container */










.container-tournaments2 {
    padding: 80px 0 120px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1534.91px;
    position: relative;
    height: 554px;
    border: 1px solid red;
}





/*title left*/





.tour_h-2-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 487px;
    position: relative;
    left: calc(50% - 768px);
    top: calc(50% - 277px);
}

.tour_line-1 {
    border: 3px solid #2b4459;
    width: 1px;
    border-radius: 5px 5px 5px 5px;
    flex: 1;
    position: relative;
    overflow: visible;
}

.tour_title-block {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 24px/32px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}
.tour_ellipse-1100 {
    background: var(--primary, #03a9f4);
    border-radius: 50%;
    flex-shrink: 0;
    width: 5.23px;
    height: 5px;
    position: relative;
    box-shadow: 2px 0 10px 0 rgba(3, 169, 244, 1);
}


.tour_list1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 472px;
    position: relative;
}




/*1*/



.tour_row_one {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.tour_title-02 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}

.tour_text {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    position: relative;
    align-self: stretch;
}


.tour_text-span2 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


.tour_text-span3 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


.tour_text-span4 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


/*2*/




.tour_row_two {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.title11 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}

.text11 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}

.title-span22 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


/*3*/

.tour_row_three {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.title22 {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}


.text1 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}






/*4*/





.tour_row_four {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}

.text-span7 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}

.text-3-span2 {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}

.text-span8 {
    color: var(--ligth-text, #fdfeff);
    font: 400 italic 14px/24px "Museo Sans Cyrl", sans-serif;
}







/*middle_img*/








.button_img {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}




/*list right*/



.tour_h-2-title_r {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 487px;
    position: relative;
    left: calc(50% - 768px);
    top: calc(50% - 277px);
}


.tour_line-1_r {
    border: 3px solid #2b4459;
    width: 1px;
    border-radius: 5px 5px 5px 5px;
    flex: 1;
    position: relative;
    overflow: visible;
}

.tour_title-block_r {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 24px/32px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}

.tour_ellipse-1100_r {
    background: var(--primary, #03a9f4);
    border-radius: 50%;
    flex-shrink: 0;
    width: 5.23px;
    height: 5px;
    position: relative;
    box-shadow: 2px 0 10px 0 rgba(3, 169, 244, 1);
}


.tour_list1_r {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 472px;
    position: relative;
}




/*1*/



.tour_row_one_r {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.tour_title-02_r {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}

.tour_text_r {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    position: relative;
    align-self: stretch;
}


.tour_text-span2_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


.tour_text-span3_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


.tour_text-span4_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


/*2*/


.tour_row_two_r {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.title11_r {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}

.text11_r {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    position: relative;
    align-self: stretch;
}

.title-span22_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}


/*3*/

.tour_row_three_r {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.title22_r {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}


.text1_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}




/*4*/


.tour_row_four_r {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}


.text_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}

.text-span7_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}

.text-span8_r {
    color: var(--ligth-text, #fdfeff);
    font: 400 italic 14px/24px "Museo Sans Cyrl", sans-serif;
}

.text-3-span2_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}


.text-span9_r {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
























/*4/5 container*/














.NeverloseIntegration {
    padding: 80px 192px 120px 192px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    border: 1px solid red;
}




/*left img*/





.ni_svg {
    position: relative;
}




/*right text*/




.right_text {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.right_title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.ellipse_right {
    background: var(--primary, #03a9f4);
    border-radius: 50%;
    flex-shrink: 0;
    width: 5.23px;
    height: 5px;
    position: relative;
    box-shadow: 2px 0px 10px 0px rgba(3, 169, 244, 1);
}
.title_block_right {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 24px/32px "Museo Sans Cyrl", sans-serif;
    text-transform: uppercase;
    position: relative;
}
.line_right {
    border: 3px solid #334753;
    width: 302px;
    border-radius: 5px;
}


.text_ni {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.text2_ni {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
    width: 643px;
}
.list_ni {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.row_ni {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.title_ni {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
    position: relative;
}
.text3_ni {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
    position: relative;
    align-self: stretch;
}
.title2_ni {
    color: var(--ligth-text, #fdfeff);
    text-align: left;
    position: relative;
}
.title-2-span_ni {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}
.title-2-span2_ni {
    color: var(--ligth-text, #fdfeff);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.title-2-span3_ni {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}
.title-2-span4_ni {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}
.title-2-span5_ni {
    color: var(--ligth-text, #fdfeff);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.title-2-span6_ni {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}
.title-2-span7_ni {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}
.title-2-span8_ni {
    color: var(--ligth-text, #fdfeff);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.title-2-span9_ni {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}
.text4_ni {
    color: var(--shaded-text, #c1c2c3);
    text-align: left;
    position: relative;
    align-self: stretch;
}
.text-4-span_ni {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-4-span2_ni {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.text-4-span3_ni {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-4-span4_ni {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.text-4-span5_ni {
    color: var(--shaded-text, #c1c2c3);
    font: var(--body, 400 14px/24px "Museo Sans Cyrl", sans-serif);
}
.text-4-span6_ni {
    color: var(--shaded-text, #c1c2c3);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}
.title-2-span10_ni {
    color: var(--ligth-text, #fdfeff);
    font: 400 16px/26px "Museo Sans Cyrl", sans-serif;
}
._nititle-2-span11 {
    color: var(--ligth-text, #fdfeff);
    font: var(--emoji, 400 20px/26px "Museo Sans Cyrl", sans-serif);
}


















.footer {

    padding: 60px 192px 20px 192px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1536px;
    height: 327px;
    position: relative;
    border: 1px solid red;

}

